Repository OCS-GEEK-HACK/typing-game: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts,yml,yaml,md,mdx,json,html,css}"
      run: |
        npx prettier {staged_files} --write
      stage_fixed: true

    lint:
      priority: 2
      glob: "*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,d.ts}"
      run: |
        npx eslint {staged_files} --max-warnings=0 --fix
      stage_fixed: true
commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --edit {1}

Update public/select_mode.html
  public/select_mode.html
Due: format

Update public/stylesheets/select_mode.css
  public/stylesheets/select_mode.css
Due: format

feat: タイトル画面の取り込み完了
  public/index.html
  public/stylesheets/style.css
  public/stylesheets/title.css
Due: format

fix: ボックスのスタイルを調整
  public/game.html
  public/stylesheets/game.css
Due: format

fix: 命名をキャメルケースからケバブケースに変更、CSSはposition: relative;やbottomを削除しました。
  public/setting.html
Due: format

feat: 設定・難易度選択取り込み
  public/index.html
  public/select_mode.html
  public/setting.html
  public/stylesheets/select-mode.css
  public/stylesheets/setting.css
Due: format

feat: 音声変更の値更新のロジック追加
  public/index.html
  public/javascripts/modules/screen-manager.js
  public/javascripts/modules/screens/setting-screen.js
Due: format, lint

fix: ファイル名変更したので`import`の修正
  public/javascripts/main.js
  public/javascripts/modules/screens/game-screen.js
  public/javascripts/modules/screens/select-mode-screen.js
  public/javascripts/modules/screens/title-screen.js
Due: format, lint

feat: ずんだもんの立ち絵、吹き出し、項目ボタンを追加し、それを使用してレイアウトを作成しました
  public/gameResult.html
  public/stylesheets/gameResult.css
Due: format

Add files via upload
  public/images/hukidasi.png
  public/images/icon/ホーム.png
  public/images/icon/リプレイ.png
  public/images/icon/共有.png
  public/images/icon/難易度変更.png
  public/images/zundamon/ずんだもん立ち絵素材2_ハイスコア0000.png
  public/images/zundamon/ずんだもん立ち絵素材_低スコア0002.png
  public/images/zundamon/ずんだもん立ち絵素材_通常0000.png
Due: none

refactor: htmlとcssのファイル名を変更。ずんだもんと吹き出し、スコアの文字を選択できないようにしました
  public/game-result.html
  public/images/background-image.png
  public/stylesheets/game-result.css
Due: format

refactor: ずんだもんの画像と吹き出しとスコアの文字をドラッグできないように変更しました。
  public/stylesheets/gameResult.css
Due: format

feat: ずんだもんの立ち絵、項目ボタン、吹き出しを追加しました
  public/gameResult.html
  public/images/background-image.png
  public/images/hukidasi.png
  public/images/icon/change-level.png
  public/images/icon/home.png
  public/images/icon/replay.png
  public/images/icon/share.png
  public/images/zundamon/zundamon-hiscore.png
  public/images/zundamon/zundamon-lowscore.png
  public/images/zundamon/zundamon-normal.png
Due: format

Merge branch 'featGameResult' of https://github.com/OCS-GEEK-HACK/typing-game into featGameResult
  public/images/icon/ホーム.png
  public/images/icon/リプレイ.png
  public/images/icon/共有.png
  public/images/icon/難易度変更.png
  public/images/zundamon/ずんだもん立ち絵素材2_ハイスコア0000.png
  public/images/zundamon/ずんだもん立ち絵素材_低スコア0002.png
  public/images/zundamon/ずんだもん立ち絵素材_通常0000.png
Due: none

fix: ファイル削除
  public/game-result.html
  public/stylesheets/game-result.css
Due: format

feat: ローマ字欄
  public/game.html
  public/stylesheets/game.css
Due: format

Update public/stylesheets/game.css
  public/stylesheets/game.css
Due: format

fix: 文字レイアウトの修正
  public/game.html
  public/stylesheets/game.css
Due: format

Update public/game.html
  public/game.html
Due: format

fix: br削除とスタイル調整
  public/game.html
  public/stylesheets/game.css
Due: format

fix: 縦横の余白設定を調整
  public/stylesheets/game.css
Due: format

fix: 吹き出しをdivで囲みました。難易度変更ボタンとreplayボタンをhtml,css上で作成しました。
  public/gameResult.html
  public/images/icon/reroad.png
  public/stylesheets/gameResult.css
Due: format

refactor: ボタンとスコアテキストとシェア、ホームボタンの間隔を調整しました。
  public/gameResult.html
  public/stylesheets/gameResult.css
Due: format

feat: ゲーム画面取り込み
  public/game.html
  public/index.html
  public/stylesheets/game.css
Due: format

feat: タイトルへ戻るボタンの画像追加
  public/images/BackButton.png
  public/index.html
  public/stylesheets/setting.css
Due: format

feat: ボタンのスタイル変更
  public/index.html
  public/stylesheets/title.css
Due: format

feat: addgamelogic
  public/index.html
  public/javascripts/modules/screens/game-screen.js
Due: format, lint

fix: 吹き出しの角を丸くして縁を黒くしました。吹き出しの三角形の位置を微調整してずんだもんの近くに配置しました
  public/gameResult.html
  public/stylesheets/gameResult.css
Due: format

fix: padding追加
  public/stylesheets/gameResult.css
Due: format

feat: ゲーム結果画面の取り込み
  public/gameResult.html
  public/index.html
  public/stylesheets/game-result.css
Due: format

build: vercelの設定追加
  vercel.json
Due: format

fix: タイトル修正
  public/index.html
Due: format

fix: ログ追加
  routes/voicevox.js
Due: format, lint

Revert "fix: ログ追加"
  routes/voicevox.js
Due: format, lint

refactor: 画像からボタンに変更
  public/images/BackButton.png
  public/index.html
  public/stylesheets/setting.css
Due: format

feat: タイトルへ戻るボタンにhoverを付与
  public/stylesheets/setting.css
Due: format

feat: 設定画面からタイトル画面へ戻る画面遷移の実装
  public/index.html
  public/javascripts/modules/screens/setting-screen.js
Due: format, lint

fix: コンストラクタを使う形に変更,書き換え後のレイアウト変更
  public/javascripts/modules/screen-manager.js
  public/javascripts/modules/screens/game-screen.js
Due: format, lint
